# Postgres TICKER Credentials
POSTGRES_TICKER_DATABASE="fsma"
POSTGRES_TICKER_USER="postgres"
POSTGRES_TICKER_PASSWORD="ticker1234"
POSTGRES_TICKER_HOST=""
POSTGRES_TICKER_PORT="5432"
# Postgres STT Credentials
POSTGRES_STT_DATABASE="fsma"
POSTGRES_STT_USER="postgres"
POSTGRES_STT_PASSWORD="ticker1234"
POSTGRES_STT_HOST=""
POSTGRES_STT_PORT="5432"
# llm server_urls
SQL_URL=""
CHAT_URL=""
# phenoix server ip
PHOENIX_COLLECTOR_ENDPOINT="http://0.0.0.0:6006"
# PHOENIX_COLLECTOR_ENDPOINT="http://localhost:6006"
# MYSQL Credentials
MYSQL_USER="talha_dev"
MYSQL_PASS="Forbmax@1234"
MYSQL_HOST="192.168.18.144"
MYSQL_PORT=3306
MYSQL_DB="redmine"
# API keys
GROQ_API_KEY="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"