fastapi==0.110.3
uvicorn==0.29.0
torch==2.3.0
transformers
accelerate
langchain==0.1.17
langchain-community==0.0.36
vllm==0.4.1
numpy==1.24
datasets
huggingface-cli
bitsandbytes==0.43.1
pydantic==2.7.1
python-decouple
psycopg2-binary==2.9.9
gunicorn